@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Helvetica, Arial;
}

h1 {
  font-size: 28px;
  margin: 44px 0 20px 0;
}

h2 {
  font-size: 18px;
  margin: 44px 0 26px 0;
}

p {
  margin: 0 0 10px 0;
}

.bold {
  font-weight: 700;
}

.row {
  padding: 0 35px;
  clear: both;
  margin: 0 auto;
  max-width: 1290px;
}

.col {
  float: left;
  height: 100vh;
}


.col--is-highlighted {
  border-left: 1px solid rgba(80,226,193,0.26);
}

.col--4 {
  width: 33.333333%;
}

.col--8 {
  width: 66.66666%;
}

.btn {
  display: inline-block;
  padding: 10px 28px;
  font-size: 18px;
  text-decoration: none;
  outline: 0;
}

.btn-success {
  border: 2px solid #50E3C2;
  border-radius: 4px;
  color: #50E3C2;
}

.intro-description {
  max-width: 310px;
  padding-right: 10px;
  line-height: 26px;
  font-size: 18px;
  margin-bottom: 24px;
}

.media {
  display: flex;
  margin-bottom: 18px;
}

.media-left {
  margin-right: 12px;
}

.media-body {
  flex: 1 1 0%;
  padding-top: 10px;
}

.avatar {
  position: relative;
  width: 64px;
  height: 64px;
}

.avatar img {
  width: 100%;
}

.avatar-shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .5;
  background-color: #50E3C2;
  border-radius: 50%;
}

.logo-bg {
  margin-top: 50px;
  margin-left: -130px;
}
